:root {
  --bc-babyblue: #bfefff;
  --bc-base: 4px;
  --bc-dark: #15181b;
  --bc-inner: 0.5em 1.2em;
  --bc-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  --bc-shadow--big: 0 2px 20px 0 rgba(0, 0, 0, 0.11);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-family: Open Sans;
}

.title {
  text-align: left;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
}
.title-small {
  display: block;
  text-transform: none;
  font-size: 16px;
  font-weight: 300;
}

.content {
  margin: 0 auto;
  padding: var(--bc-inner);
  max-width: 900px;
}

/* Card */
.card {
  text-align: left;

  position: relative;
  color: var(--bc-dark);
  margin: 0 auto 20px auto;
  width: 100%;
  background: white;
  box-shadow: var(--bc-shadow--big);
  display: flex;
  justify-content: center;
  padding: 0 0 0 10vw;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
}

.card:after {
  content: ' ';
  display: block;
  padding-bottom: 64%;
}

.card-name {
  font-weight: bold;
  font-family: serif;
  font-size: 1.6rem;
}

@media (min-width: 320px) {
  .card-name {
    font-size: calc(1.6rem + 3.125vw - 10px);
  }
}

@media (min-width: 960px) {
  .card-name {
    font-size: calc(1.6rem + 20px);
  }
}

.card-text {
  font-size: 1.15rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) {
  .card-text {
    font-size: calc(1.15rem + 3.125vw - 10px);
  }
}

@media (min-width: 960px) {
  .card-text {
    font-size: calc(1.15rem + 20px);
  }
}

.card-inner {
  position: absolute;
}
/* Card End */

/* add card */

.add-card {
  box-shadow: var(--bc-shadow--big);

  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 2em 2em;
}
.add-card__content {
  max-width: 600px;
}

.add-card-headline {
  margin: 0;
  padding: 0;
}

.label-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

.label-input {
  background: rgba(255, 255, 255, 0.05);
  font-size: 20px;
  padding: var(--bc-inner);
  color: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 1px;
  transition: background-color 170ms ease-in-out;
}

.label-input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.15);
}

/* Input */

.bc-label {
  display: block;
  margin: calc(var(--bc-base) * 8) 0;
}

.bc-label__text {
  display: block;
  margin-bottom: calc(var(--bc-base) * 2);

  text-align: left;
}

.bc-input {
  font-size: inherit;
  padding: 0 calc(var(--bc-base) * 3);
  border: 1px solid #efefef;
  width: 100%;
  border-radius: 3px;
  height: calc(var(--bc-base) * 12);

  box-shadow: var(--bc-shadow);
  transition: box-shadow 70ms ease-in-out;
}

.bc-input:focus {
  outline: none;
  box-shadow: 0 2px 8px 0 rgba(255, 177, 10, 0.3);
}

/* Button */

.bc-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--bc-dark);
  text-decoration: none;
  background: var(--bc-babyblue);
  width: 100%;
  height: calc(var(--bc-base) * 12);
  border: none;
  border-radius: 3px;
  padding: var(--bc-inner);
  font-size: 20px;
}

/* Card Added  */

.card-added {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
