:root {
  --bc-base: 4px;
  --bc-inner: 0.5em 0.7em;
  --bc-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  --bc-shadow--big: 0 2px 20px 0 rgba(0, 0, 0, 0.11);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 18px;
  font-family: Open Sans;
}

.title {
  text-align: left;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
}
.title-small {
  display: block;
  text-transform: none;
  font-size: 16px;
  font-weight: 300;
}

.card {
  color: #535353;
  margin: 0 auto 20px auto;
  width: 84mm;
  background: white;
  box-shadow: var(--bc-shadow--big);
  display: flex;
  justify-content: center;
  padding: 0 0 0 15mm;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
}
.card:after {
  content: ' ';
  display: block;
  padding-bottom: 35.29%;
}

.card-name {
  font-weight: bold;
  font-size: 20pt;
}

.text {
  margin: 0;
  padding: 0;
}

.content {
  padding: var(--bc-inner);
}
/* add card */

.add-card {
  max-width: 600px;
  background: #0e0e0e;
  color: white;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1em 2em;
}

.add-card-headline {
  margin: 0;
  padding: 0;
}

.label-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

.label-input {
  background: rgba(255, 255, 255, 0.05);
  font-size: 20px;
  padding: var(--bc-inner);
  color: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 1px;
  transition: background-color 170ms ease-in-out;
}

.label-input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.15);
}

.add-card-button {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: var(--bc-inner);
  font-size: 20px;
}

/* Input */

.name-input {
  display: block;
  margin: calc(var(--bc-base) * 8) 0;
}

.bc-input {
  font-size: inherit;
  padding: 0 calc(var(--bc-base) * 3);
  border: 1px solid #efefef;
  width: 100%;
  border-radius: 3px;
  height: calc(var(--bc-base) * 12);

  box-shadow: var(--bc-shadow);
  transition: box-shadow 70ms ease-in-out;
}

.bc-input:focus {
  outline: none;
  box-shadow: 0 2px 8px 0 rgba(255, 177, 10, 0.3);
}
